//Colours

$colour-primary: hsl(158, 36%, 37%);
$colour-primary-dark: hsl(158, 36%, 22%);
$colour-secondary: hsl(30, 38%, 92%);

$colour-neutral-900:hsl(212, 21%, 14%);
$colour-neutral-400:hsl(228, 12%, 48%);
$colour-neutral-100:hsl(0, 0%, 100%);


//Font family
$font-family-accent: 'Fraunces', serif;
$font-family-base: 'Montserrat', sans-serif;

//Font weight

$font-regular:500;
$font-bold:700;

//Breakpoint

$desktop-version: 600px;